<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']],
        tags: 'ams',  <!-- 开启 AMS 式自动编号 -->
        tagSide: 'right',  <!-- 编号对齐, 默认为 right, 也可以改为 left -->
        tagIndent: '0em'
      },
      options: {
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process'
      }
    };
    </script>
    <!-- 这里可根据需要换成其它 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    